<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    h1{
        text-align: center;
        color: #4CAF50;
    }
</style>
</head>
<body>
<div class="container">
    <div class="jumbotron">

<h1><em>Detail of {{ employee.name }}</em></h1><br>
    <em><h3>Employee ID :{{ employee.id}}</h3>
    <em><h3>Name :{{ employee.name }}</h3></em>
    <em><h3>Designation :{{ employee.designation }}</h3></em>
    <em><h3>Manager :{{ employee.reporting }}</h3></em>

    </div>




</div>

</body>
{% endblock %}
</html>